body{
  font-family: 'Montserrat, sans-serif';
}

h1 {
  font-family: "Montserrat-black";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}
h2{
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
}
p{
  color: #FF8f8F;
  font-size: 1rem;
}

#title{
  background-color: #ff4c68;
  color: #fff;
  

}
.container-fluid{
  padding: 3% 15% 0% 15%;
  overflow: hidden;
}
.mid
{
  margin-top: 50px;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
    font-size: 1.5rem;
    font-family: "Montserrat-light";
}
.dwn-btn
{
  margin: 5% 3% 5% 0;
}
 .title-image{
  width: 45%;
  transform: rotate(20deg);
  margin-left: 25%;
  /* margin-bottom:3%; */
}
 .mid-style{
  width: 70%;

}
.images1{

color: #ef8172;
margin-bottom: 1rem;
}
.images1:hover{
/* font-size:50px; icon will increase when we hovwe over the image*/
color: #ff4c68;

}
#features
{
  padding: 50px 50px;
}
#testimonials{

  text-align: center;
  background-color:#ef8172 ;
  color: #fff;
}
.test-image{
  border-radius:100%;
  padding: 3%;
}
#press{
    background-color:#ef8172 ;
    text-align: center;
    padding: 3%;
}
.press-image
{
  width: 15%;
  margin: 0 5% 0 0;
}
.carousel-item
{
  padding: 3% 15%;
}

#pricing{
  padding-top: 100px;
  width: 80%;
  text-align: center;
margin-left:100px;
}
.push-down{
  margin: 30px 0;
}
